.header {
  color: #ffffff;
  background-color: #2a2c2f;
  margin: 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.header__logo {
  width: 255px;
  height: 69px;
  margin-top: 34px;
}

.header__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0;
  text-align: center;
  width: 720px;
  height: 200px;
  margin: 0;
  margin-top: 100px;
}

.header__subtitle {
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  width: 720px;
  height: 72px;
  margin: 40px 0 60px;
}

.header__image {
  width: 984px;
  height: 615px;
  margin: 0 0 60px;
  box-shadow: 10px 10px 10px 0px #00000040;
}
