@media screen and (max-width: 1024px) {
  .header__logo {
    width: 254px;
    height: 66px;
  }

  .header__image {
    width: 768px;
    height: 480px;
  }

  .header__title {
    font-size: 75px;
    line-height: 79px;
    width: 530px;
    height: 158px;
    margin-top: 1em;
  }

  .content__container {
    margin-left: 24px;
  }

  .content__intro {
    width: 707px;
  }

  .content__text-cite {
    width: 720px;
  }

  .content__text-cite_author {
    width: 720px;
  }

  .content__text {
    width: 720px;
    margin-bottom: 60px;
  }

  .content__grid {
    width: 720px;
    height: 1104px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .content__grid-item {
    width: 352px;
    height: 264px;
  }

  .content__grid-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }

  .content__grid-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .content__grid-item:nth-child(8) {
    grid-column: 1;
    grid-row: 3;
  }

  .content__grid-item:nth-child(7) {
    grid-column: 2;
    grid-row: 3;
  }

  .content__grid-item:nth-child(6) {
    grid-column: 1;
    grid-row: 4;
  }

  .content__places-title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }

  .content__places-website {
    width: 352px;
    height: 68px;
    padding: 0;
    align-self: flex-start;
  }

  .content__places-website_three {
    align-self: flex-end;
  }

  .content__places-website_four {
    align-self: flex-end;
  }

  .content__places-item {
    width: 340px;
    height: 340px;
  }

  .content__places-text {
    width: 352px;
    height: 208px;
    font-size: 16px;
  }

  .content__places-text_second {
    grid-row: 3 / span 5;
  }

  .content__places-text_third {
    grid-row: 5 / span 6;
  }

  .content__places-button {
    margin-top: 50px;
  }

  .content__places-container {
    width: 720px;
  }

  .content__places {
    width: 720px;
    height: 635px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 230px 110px auto;
    grid-template-areas:
      "title website"
      "image text"
      "image text"
      "button text";
  }

  .content__places-two {
    width: 720px;
    height: 639px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 330px auto auto;
    grid-template-areas:
      "title website"
      "image text"
      "image text"
      "button text";
  }

  .content__places-three {
    width: 720px;
    height: 892px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 130px 230px 110px 150px auto auto;
    grid-template-areas:
      "title website"
      "image text"
      "image text"
      "button text"
      ". text"
      ". text";
  }

  .content__places-four {
    width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 130px 340px 100px;
    grid-template-areas:
      "title website"
      "image text"
      "button text";
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    width: 188px;
    height: 52px;
  }

  .header__image {
    width: 320px;
    height: 200px;
  }

  .header__title {
    font-size: 40px;
    line-height: 44px;
    width: 228px;
    height: 88px;
    margin: 1.3em 0 0 0;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 288px;
    height: 40px;
    margin: 1.3em 0 3em;
  }

  .content__container {
    margin-left: 16px;
  }

  .content__intro {
    font-size: 30px;
    line-height: 35px;
    width: 288px;
  }

  .content__text-cite {
    font-size: 24px;
    line-height: 30px;
    width: 288px;
  }

  .content__text-cite_author {
    width: 288px;
    margin-top: 10px;
  }

  .content__text {
    width: 288px;
  }

  .content__grid {
    width: 288px;
    height: 1812px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }

  .content__grid-item {
    width: 288px;
    height: 216px;
  }

  .content__grid-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .content__grid-item:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .content__grid-item:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .content__grid-item:nth-child(8) {
    grid-column: 1;
    grid-row: 5;
  }

  .content__grid-item:nth-child(7) {
    grid-column: 1;
    grid-row: 6;
  }

  .content__grid-item:nth-child(6) {
    grid-column: 1;
    grid-row: 7;
  }

  .content__places-title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .content__places-website {
    width: 288px;
    height: 89px;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    align-self: flex-start;
  }

  .content__places-website_three {
    height: 67px;
  }

  .content__places-website_four {
    height: 44px;
  }

  .content__places-item {
    width: 320px;
    height: 320px;
  }

  .content__places-text {
    width: 288px;
    height: 260px;
    font-size: 16px;
  }

  .content__places-text_second {
    grid-row: 5 / span 6;
  }

  .content__places-text_third {
    grid-row: 6 / span 7;
  }

  .content__places-button {
    margin-top: 50px;
  }

  .content__places-container {
    width: 320px;
  }

  .content__places {
    width: 320px;
    height: 1261px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 89px 350px 290px 364px 48px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text"
      "text"
      "button";
  }

  .content__places-two {
    width: 320px;
    height: 1217px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 75px 350px 410px 240px 48px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text"
      "text"
      "button";
  }

  .content__places-three {
    width: 320px;
    height: 1559px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 90px 350px 280px 305px 338px 48px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text"
      "text"
      "text"
      "button";
  }

  .content__places-four {
    width: 320px;
    height: 990px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 70px 350px 390px 100px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text"
      "button";
  }
}
